#root {
    transform-style: preserve-3d;
    perspective: 800px;
}

#slidecontainer .html-slide {
    position: absolute;
    top: 0px;
    left: 0px;
}

.html-slide {
    width: 100%;
    background-color: white;
}
