#root {
    transform-style: preserve-3d;
    perspective: 800px;
}

@keyframes kfMoveAwayAlongZ {
    100% { transform: translateZ(-100000px)}
}

.moveAwayAlongZ {
    animation: kfMoveAwayAlongZ 1s ease-in-out;
}
