.GlowText .normal {
    font-family: 'Raleway', sans-serif;
    font-size: 5em;
    font-weight: lighter;
    color: darkslategray;
    border-radius: 50%;
    text-shadow: 0 0 10px orange, 1px 1px 5px orange, 2px 2px 5px orange, -1px -1px 5px orange, -2px -2px 5px orange;
}

.GlowText .glow {
    border-radius: 50%;
    text-shadow: 0 0 10px orange, 1px 1px 5px orange, 2px 2px 5px orange, -1px -1px 5px orange, -2px -2px 5px orange;
}

.GlowText .small {
    font-size: 3em;
}

.GlowText .smaller {
    font-size: 2em;
}

.GlowText .small.glow {
    text-shadow: 0 0 5px orange, 1px 1px 2px orange, 2px 2px 2px orange, -1px -1px 2px orange, -2px -2px 2px orange;
}

.GlowText .large {
    font-size: 10em;
}

.GlowText .larger {
    font-size: 20em;
}

.GlowText .middle-large {
    font-size: 7em;
}

.GlowText .orbs{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    display: block;
    font-size: 128px;
}


.GlowText .orbs span{
    color: red;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    text-shadow: 0 0 20px orange, 1px 1px 20px orange, 2px 2px 20px orange, -1px -1px 20px orange, -2px -2px 20px orange;
    position: absolute;
    left: 50%;
}

