.imgcontainer {
    display: flex;
    justify-content: center;
}

img._95 {
    height: 95vh;
}

img._80 {
    height: 80vh;
}

img._70 {
    height: 70vh;
}

.centerflexcol {
    display: flex;
    flex-direction: column;
    align-items: center;
}