.imgcontainer {
    display: flex;
    justify-content: center;
}

img._95 {
    height: 95vh;
}

img._80 {
    height: 80vh;
}

img._70 {
    height: 70vh;
}

.centerflexcol {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.token.onlyBlack {
    color: #000;
}

.authorcontainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.author {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 2em;
    justify-content: flex-end;
    align-items: flex-end;
}

