.flexcontainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;

  &.center {
    justify-content: space-around;
    align-items: center;
  }

  &.start {
    margin-top: 10%;
    justify-content: flex-start;
    align-items: flex-start;
  }
}